<div class="row">
  <div class="col-md-12">
    <div *ngIf="ayahs">
      <div class="row justify-content-center">
        <h2 id="page-heading">
          <span>{{surahName}}</span>
        </h2>
      </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="ayahs">
      <table class="table table-striped">
        <thead>
        <tr>
          <th width="10%"><span jhiTranslate="temankhatamApp.khatamserviceAyah.surahAyah">surahAyah</span></th>
          <th width="45%"><span jhiTranslate="temankhatamApp.khatamserviceAyah.transIndo">transIndo</span></th>
          <th width="45%"><span jhiTranslate="temankhatamApp.khatamserviceAyah.ayahArabic">ayahArabic</span></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let ayah of ayahs ;trackBy: trackId">
          <td>{{ayah.surahAyah}}</td>
          <td>{{ayah.transIndo}}</td>
          <td style="font-size:22px">{{ayah.ayahArabic}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="ayahs">
      <div class="row justify-content-center">
        <ul class="pagination">
          <li [ngClass]="(surahId == 1) ? 'page-item disabled' : 'page-item'">
            <a aria-label="Next" class="page-link" [routerLink]="['/mushaf', surahIdBefore, limit, offsetBefore ]" routerLinkActive="active" tabindex="-1">
              <span style="font-size:22px" aria-hidden="true">&nbsp;&nbsp;«&nbsp;&nbsp;</span>
            </a>
          </li>
          <li [ngClass]="(surahId == 114) ? 'page-item disabled' : 'page-item'">
            <a aria-label="Next" class="page-link" [routerLink]="['/mushaf', surahIdAfter, limit, offsetAfter ]" routerLinkActive="active" tabindex="-1">
              <span style="font-size:22px" aria-hidden="true">&nbsp;&nbsp;»&nbsp;&nbsp;</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
